js/app/.idea/**
js/app/linux-build/**
js/app/publish/**
js/app/simulator/**
js/app/CMakeLists.txt

cpp/linux-build/**
cpp/bin/**

**.pyc
**.o
**.log

js/data/words.js
js/data/math/out/**
**.quat
js/workspace.xml

**/.DS_Store
