js/app/.idea/**
js/app/linux-build/**
js/app/publish/**
js/app/simulator/**
js/app/CMakeLists.txt
js/app/frameworks/cocos2d-x/**
js/app/frameworks/cocos2d-html5/**
cpp/linux-build/**
cpp/bin/**

**.sw?
*~
**.pyc
**.o
**.log

js/data/words.js
js/data/math/out/**
js/workspace.xml

**/.DS_Store
